@import url('admin-small.css') screen and (max-device-width: 480px);
@import url('admin-print.css') print;

.update-nag { display: none; }

#reg-sys tr.current-event td.column-title {
	font-size: 1.1em;
	font-style: italic;
}

#reg-sys ul {
	margin-top: 1em;
	list-style: disc inside;
}

#reg-sys .ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#reg-sys td.date {
	font-family: monospace;
}

div.reg-sys-exception {margin:2em 1em;}

#reg-sys form ul {
	list-style-type: none;
}

#reg-sys form label.radio {
	display: block;
}

#reg-sys form input[type="submit"] {
	margin-top: 2em;
}

#reg-sys form#registration-add div.field {
	margin-bottom: 1em;
}

#reg-sys form#registration-add div.meta {
	margin-top: 0.5em;
	margin-bottom: 2em;
}


#reg-sys #reg-list .total-cost {
	text-align: right;
}

#reg-sys #reg-list .paid {
	text-align: center;
}

#reg-sys #reg-list .overdue {
	background-color: #fcc;
}

#reg-sys table.report tr:hover td {
	background-color: #ff9;
}

#reg-sys table.report td.column-title {
	font-weight: bold;
}

#reg-sys table.report th.headerSortDown div {
	background: url('images/arrow-sort-down.png') right no-repeat;
}

#reg-sys table.report th.headerSortUp div {
	background: url('images/arrow-sort-up.png') right no-repeat;
}

#reg-sys #report_reg_list td { vertical-align: middle; }
#reg-sys #report_reg_list td.paid { text-align: center; }
#reg-sys #report_reg_list td.owed input { text-align: right; }

#reg-sys #report_packet_printout div.dancer {
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #000;
}
#reg-sys #report_packet_printout div.dancer span.paid-owed { float: right; }

#reg-sys a.delete {
	margin-left: 1em;
	font-size: 12px;
	font-weight: normal;
	color: #bc0b0b;
	background-color: inherit;
	text-decoration: underline;
}

#reg-sys input.delete {
	color: #fff;
	background: none;
	background-color: #bc0b0b;
	border-color: inherit;
	text-shadow: none;
}

#reg-sys a.button {
	margin-left: 0.5em;
}
