#update-nag { display: none; }

#nsevent tr.current-event a.row-title {
  font-style: italic;
}

#nsevent ul {
  margin-top: 1em;
  list-style: disc inside;
}

div.nsevent-exception {margin:2em 1em;}

#nsevent form ul {
  list-style-type: none;
}

#nsevent form input[type="submit"] {
  margin-top: 2em;
}

#nsevent form#registration-add div.field {
  margin-bottom: 1em;
}

#nsevent form#registration-add div.meta {
  margin-top: 0.5em;
  margin-bottom: 2em;
}


#nsevent #reg-list .total-cost {
  text-align: right;
}

#nsevent #reg-list .paid {
  text-align: center;
}

#nsevent table.report tr:hover td {
  background-color: #ff9;
}

#nsevent table.report td.dancer-name {
  font-weight: bold;
}

#nsevent table.report th.headerSortDown div {
  background: url('images/arrow-sort-down.png') right no-repeat;
}

#nsevent table.report th.headerSortUp div {
  background: url('images/arrow-sort-up.png') right no-repeat;
}

#nsevent #reg-list td { vertical-align: middle; }
#nsevent #reg-list td.paid { text-align: center; }
#nsevent #reg-list td.owed input { text-align: right; }

#nsevent #packet-printout div.dancer {
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #000;
}
#nsevent #packet-printout div.dancer span.paid-owed { float: right; }
