/* Don't show the rest of the WordPress admin interface */
#wphead, #adminmenuback, #adminmenuwrap, #screen-meta, #footer { display: none; }
#wpcontent { margin-left: 4px; }

html { background-color: #fff; }

#reg-sys .no-print { display: none; }

#reg-sys td.dancer-name a { color: inherit !important; }
