/* Don't show the rest of the WordPress admin interface */
#wphead, #adminmenuback, #adminmenuwrap, #screen-meta, #footer { display: none; }
#wpcontent { margin-left: 4px; }

#nsevent .no-print { display: none; }

html { background-color: #fff; }

#nsevent #dancer a.button { display: none; }
#nsevent #dancer h2 a { color: inherit; text-decoration: none; }

#nsevent td.dancer-name a { color: inherit !important; }
#nsevent #reg-list td { font-family: Georgia, serif !important; }
#nsevent #reg-list td.owed input {
	text-align: right;
	border: 0;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

#nsevent #packet-printout ul { font-size: 16pt !important; }
#nsevent #packet-printout h5 { font-size: 16pt !important; }
#nsevent #packet-printout h4 { font-size: 32pt !important; margin: 1em 0 2em; }

#nsevent #packet-printout div.dancer { page-break-after:always; margin: 0; border: none; }
#nsevent #packet-printout div.dancer:nth-last-of-type(1) { page-break-after: avoid; }
