[submodule "includes/Twig"]
	path = includes/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "includes/swiftmailer"]
	path = includes/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
