{% extends 'registration/_layout.html' %}

{% block id %}nsevent-reg-form-accepted{% endblock %}

{% block title %}Registration Accepted for {{ event.name }}{% endblock %}

{% block content %}
			<div id="accepted" {%- if vip %} class="vip"{% endif %}>
				<p>Your registration has been recorded. Your payment must be {{ dancer.payment_method == 'Mail' ? 'postmarked' : 'received' }} by {{ dancer.date_postmark_by | date('F jS') }}.</p>

{% if dancer.payment_method == 'PayPal' %}
				<form action="{{ options.paypal_sandbox ? 'https://www.sandbox.paypal.com/cgi-bin/webscr' : 'https://www.paypal.com/cgi-bin/webscr' }}" method="post">
					<input type="image" id="paypal-button" src="https://www.paypal.com/en_US/i/btn/x-click-but6.gif" name="submit" alt="Send payment via PayPal">

					{{ form.input_hidden('cmd', '_cart') | raw }}
					{{ form.input_hidden('upload')       | raw }}
					{{ form.input_hidden('no_shipping')  | raw }}
					{{ form.input_hidden('business', options.paypal_business) | raw }}
					{# TODO: notify url for IPN #}

					{{ form.input_hidden('custom', dancer.id) | raw }}
					{{ form.input_hidden('first_name') | raw }}
					{{ form.input_hidden('last_name')  | raw }}

{% 	if options.paypal_fee %}
					{{ form.input_hidden('item_name_1', 'Processing Fee')   | raw }}
					{{ form.input_hidden('amount_1',    options.paypal_fee) | raw }}

{% 	endif %}
{% 	set i = options.paypal_fee ? 2 : 1 %}
{% 	for item in validated_items if attribute(dancer, 'price_for_registered_item', [item.id]) != 0 %}
					{{ form.input_hidden('item_name_' ~ i, item.name) | raw }}
					{{ form.input_hidden('amount_' ~ i,    attribute(dancer, 'price_for_registered_item', [item.id])) | raw }}
{% 		if item.meta == 'size' and attribute(POST.item_meta, item.id) %}
					{{ form.input_hidden('on0_' ~ i, item.meta_label) | raw }}
					{{ form.input_hidden('os0_' ~ i, attribute(POST.item_meta, item.id) | capitalize) | raw }}
{% 		endif %}
{% 		set i = i + 1 %}
{% 	endfor %}
				</form>
{% elseif dancer.payment_method == 'Mail' and dancer.price_total > 0 %}
						<p>Please mail your check for <strong>${{ dancer.price_total }}</strong> (made out to <em>{{ options.payable_to }}</em>), along with your name and email address, to:</p>
						<p style="font-weight: bold;">{{ options.mailing_address | nl2br }}</p>
{% endif %}
{% if confirmation_email_failed %}
				<p style="background-color: #fcc;">Your registration has been recorded, but it appears that your confirmation email failed to send. You may email {{ '<a href="mailto:%1$s">%1$s</a>' | format(options.confirmation_email_address) }} to request that your confirmation email be re-sent.<br /><br />Reason: {{ confirmation_email_failed.message }}</p>
{% endif %}
			</div>
{% endblock %}
