{% extends 'registration/_layout.html' %}

{% block id %}reg-sys-form-info{% endblock %}

{% block title %}Register for {{ event.name }}{% endblock %}

{% block content %}
			<div class="entry-content">
				{# the_content | raw #}
			</div>

			<form action="{{ permalink }}{% if vip %}?vip{% endif %}" method="post"{% if vip %} class="vip"{% endif %}>
{% if not vip %}
				<div id="pricing-dates">
{% 	if time <= event.date_mail_prereg_end %}
					<div>{{ 'Preregistration by mail is available until %s on %s.' | format(event.date_mail_prereg_end | date('h:i A (T)'), event.date_mail_prereg_end | date('F jS')) }}</div>
{% 	else %}
					<div>Preregistration by mail is no longer available.</div>
{% 	endif %}
{% 	if time <= event.date_paypal_prereg_end %}
					<div>{{ 'Preregistration by PayPal is available until %s on %s.' | format(event.date_paypal_prereg_end | date('h:i A (T)'), event.date_paypal_prereg_end | date('F jS')) }}</div>
{% 	else %}
					<div>Preregistration by PayPal is no longer available.</div>
{% 	endif %}
				</div>
{% endif %}

{# PERSONAL INFO ####}
				<h2>Personal Info <span>(All Fields Required)</span></h2>
				<fieldset id="personal">
					{{ attribute(validation, 'get_error', ['first_name']) | raw }}
					<div class="field text"><label>First Name:</label>{{ form.input_text('first_name') | raw }}</div>

					{{ attribute(validation, 'get_error', ['last_name']) | raw }}
					<div class="field text"><label>Last Name:</label>{{ form.input_text('last_name') | raw }}</div>

					{{ attribute(validation, 'get_error', ['email']) | raw }}
					<div class="field text"><label>Email Address:</label>{{ form.input_text('email', null, {'type': 'email'}) | raw }}</div>

					{{ attribute(validation, 'get_error', ['confirm_email']) | raw }}
					<div class="field text"><label>Confirm Address:</label>{{ form.input_text('confirm_email', null, {'type': 'email'}) | raw }}</div>

					{{ attribute(validation, 'get_error', ['mobile_phone']) | raw }}
					<div class="field text"><label>Mobile Phone:</label>{{ form.input_text('mobile_phone', null, {'type': 'tel'}) | raw }}</div>

{% if event.has_discounts and not vip %}
					{{ attribute(validation, 'get_error', ['discount_code']) | raw }}
					<div class="field text"><label>Discount Code:</label>{{ form.input_text('discount_code') | raw }}</div>
{% endif %}

					{{ attribute(validation, 'get_error', ['position']) | raw }}
					<div class="field" id="position">
						<div class="field-label">Position</div>
						<div class="radio"><label>{{ form.input_radio('position', {'value': 1, 'default': true}) | raw }} Lead</label></div>
						<div class="radio"><label>{{ form.input_radio('position', {'value': 2}) | raw }} Follow</label></div>
					</div>

{% if event.has_levels %}
					{{ attribute(validation, 'get_error', ['level_id']) }}
					<div class="field" id="level_id">
						<div class="field-label">Level</div>
{% 	for level in event.levels %}
						<div class="radio"><label>{{ form.input_radio('level_id', {'value': level.level_id, 'default': (level.level_id == 1)}) | raw }} {{ level.label }}{% if level.has_tryouts %} <em>(Tryouts required)</em>{% endif %}</label>
{% 	endfor %}
					</div>
{% endif %}

{% if event.has_volunteers and not vip %}
					{{ attribute(validation, 'get_error', ['status']) }}
					<div class="field"><label>{{ form.input_checkbox('status') | raw }} I'm interested in volunteering. (Volunteers will receive $5 for every one-hour shift worked!)</div>
{% endif %}
				</fieldset>


{# PACKAGES ########}
{% if packages %}
						<h2>Packages <span>(Select One)</span></h2>
						<fieldset id="packages">
							{{ attribute(validation, 'get_error', ['package']) }}
							<table cellspacing="0">
								<thead>
									<tr>		
										<th width="30%">Package</th>
										<th width="15%" class="price">Preregistered</th>
										<th width="10%" class="price">At Door</th>
										<th width="45%">Description</th>
									</tr>
								</thead>

								<tbody>
{% 	for index, item in packages %}
									<tr>
										<td><label>{{ form.input_radio('package', {'value': item.id, 'default': not index }) | raw }} {{ item.name }}</label></td>
{% 		if not vip %}
										<td class="price">
											<div class="price_prereg">${{ item.price_for_prereg }}</div>
										</td>
										<td class="price">{{ item.price_at_door ? '$' ~ item.price_at_door : '&mdash;' }}</td>
{% 		else %}
										<td class="price">{{ item.price_for_vip ? '$' ~ item.price_for_vip : '&mdash;' }}</td>
										<td class="price">&mdash;</td>
{% 		endif %}
										<td class="description">{{ item.description }}</td>
									</tr>
{% 	endfor %}
									<tr>
										<td colspan="3"><label>{{ form.input_radio('package', {'value': 0}) | raw }} N/A</label></td>
{% 	if not vip %}
										<td class="description">(Use this option if you only want to request/provide housing or buy a shirt.)</td>
{% 	else %}
										<td class="description"><strong>VIPs:</strong> To help us track attendance, please choose the most suitable package for yourself.</td>
{% 	endif %}
									</tr>
								</tbody>
							</table>

{% 	do form.set_array_name('package_tier') %}
{% 	for item in packages %}
							{{ form.input_hidden(item.id, {'value': item.price_tier}) | raw }}
{% 	endfor %}
{% 	do form.set_array_name(null) %}
						</fieldset>
{% endif %}


{# COMPETITIONS ###############}
{% if competitions %}
						<h2>Competitions</h2>
						<fieldset id="competitions">
							<table cellspacing="0">
								<thead>
									<tr>		
										<th width="30%">Competition</th>
										<th width="25%" class="price">Preregistered</th>
										<th width="45%">Information</th>
									</tr>
								</thead>

								<tbody>
{% 	for index, item in competitions %}
									{{ attribute(validation, 'get_error', ['item_' ~ item.id, '<tr class="error"><td colspan="3">', '</td></tr>']) }}
{% 		if item.count_openings %}
									<tr>{% do form.set_array_name('items') %}
										<td><label>{{ form.input_checkbox(item.id, {'value': item.id}) | raw }} {{ item.name }}</label></td>{% do form.set_array_name(null) %}
										<td class="price">
											<div>${{ vip ? item.price_for_vip : item.price_for_prereg }}</div>
										</td>
										<td class="description">
{% 			if item.limit_total %}
											{{ 'Openings: %d' | format(item.count_openings) }}{% if item.meta == 'partner_name' %}{{ pluralize(' couple', 'couples', item.count_openings) }}{% endif %}<br />
{% 			elseif item.limit_per_position %}
											{{ 'Openings: ' ~ item.openings_by_position }}<br />
{%			endif %}

{% 			do form.set_array_name('item_meta') %}
{% 			if item.meta == 'position' %}
											<span class="inline_radio">Register as:&nbsp;
												<label>{{ form.input_radio(item.id, {'value': 'lead',   'disabled': not attribute(item, 'count_openings', ['lead'])}) | raw   }}&nbsp;Lead</label>
												<label>{{ form.input_radio(item.id, {'value': 'follow', 'disabled': not attribute(item, 'count_openings', ['follow'])}) | raw }}&nbsp;Follow</label>
											</span>
{% 			elseif item.meta == 'partner_name' %}
											<label>Partner:&nbsp;{{ form.text_input(item.id, null, {'placeholder': "Partner's name"}) | raw }}</label><br />(Only one of you need to sign up.)
{% 			elseif item.meta == 'team_members' %}
											{% if item.description %}{{ item.description }}<br />{% endif %}
											{{ form.input_textarea(item.id, null, {'rows': 6}) | raw }}
{% 			endif %}
{% 			do form.set_array_name(null) %}
										</td>
									</tr>
{% 		else %}
									<tr class="limit-reached">
										<td>{{ item.name }}</td>
										<td class="description" colspan="2">There are no more openings for this competition.</td>
									</tr>
{% 		endif %}
{% 	endfor %}
								</tbody>
							</table>
						</fieldset>
{% endif %}


{# SHIRTS ################}
{% if shirts and time < event.date_refund_end %}
						<h2>T-Shirts <span>(Optional)</span></h2>
						<fieldset id="shirt">
							<table cellspacing="0">
								<thead>
									<tr>
										<th width="30%">Shirt Style</th>
										<th width="15%">Preregistered</th>
										<th width="10%">At Door</th>
										<th width="45%">Size</th>
									</tr>
								</thead>

								<tbody>
{% 	for index, item in shirts %}
									{{ attribute(validation, 'get_error', ['item_' ~ item.id, '<tr class="error"><td colspan="3">', '</td></tr>']) }}
									<tr>
										<td>{{ item.name }}</td>
										<td class="price">${{ vip ? item.price_for_vip : item.price_for_prereg }}</td>
										<td class="price">${{ item.price_at_door ? item.price_at_door : '&mdash;' | raw }}</td>
										<td class="size">{% do form.set_array_name('items') %}
											{{ form.input_select(item.id, 'None,' ~ item.description, {'indent': "\t\t\t\t\t\t\t\t\t\t\t"}) | raw }}
										</td>{% do form.set_array_name(null) %}
									</tr>
{% 	endfor %}
								</tbody>
							</table>

{% 	if not vip %}
							<div class="field">
								<div class="caption">
									<p>Note: At-The-Door quantities will be limited.</p>
								</div>
							</div>
{% 	endif %}
						</fieldset>
{% endif %}


{# HOUSING #######################}
{% if event.has_housing_support %}
{% 	if event.has_housing_registration %}
						<h2><label>{{ form.input_checkbox('housing_type_provider', {'attributes': {'id': 'housing_type_provider'}}) | raw }} I Can Provide Housing</label> <span>(Optional)</span></h2>
						<fieldset id="housing_type_provider_fields">{% do form.set_array_name('housing_provider') %}
							{{ attribute(validation, 'get_error', ['housing_spots_available']) }}
							<div class="field">{{ 'I can provide housing for %s person(s).' | format(form.input_text('housing_spots_available', null, {'size': 2, 'placeholder': '#'})) | raw }}</div>

							{{ attribute(validation, 'get_error', ['housing_smoke']) }}
							{{ attribute(validation, 'get_error', ['housing_pets']) }}
							<div class="field">
								<div class="checkbox"><label>{{ form.input_checkbox('housing_smoke') | raw }} I smoke.</label></div>
								<div class="checkbox"><label>{{ form.input_checkbox('housing_pets')  | raw }} I have pets.</label></div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_nights']) }}
							<div class="field">
								<div class="field-label">I can providing housing on:</div>
{% 		for index, night in event.housing_nights %}
								<div class="checkbox"><label><input type="checkbox" {%- if attribute(POST.housing_provider.housing_nights, index + 1) %} checked="checked"{% endif %} value="{{ index + 1 }}" name="housing_provider[housing_nights][{{ index + 1 }}]"> {{ night }}</label></div>
{% 		endfor %}
							</div>

							{{ attribute(validation, 'get_error', ['housing_gender']) }}
							<div class="field">
								<div class="field-label">I prefer to house:</div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 3, 'default': true}) | raw }} Boys and/or Girls</div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 1})                  | raw }} Boys only</div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 2})                  | raw }} Girls only</div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_bedtime']) }}
							<div class="field">
								<div class="field-label">Bedtime preference:</div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 0, 'default': true}) | raw }} No Preference</div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 1}) | raw }} Early Bird</div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 2}) | raw }} Night Owl</div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_comment']) }}
							<div class="field textarea">
								<label for="housing_provider_comment">Comments:</label><br>
								{{ form.input_textarea('housing_comment', null, {'rows': 6}) | raw }}
							</div>
						</fieldset>

						
						<h2><labe>{{ form.input_checkbox('housing_type_needed', {'attributes': {'id': 'housing_type_needed'}}) | raw }} I Need Housing <span>(Optional)</span></h2>
						<fieldset id="housing_type_needed_fields">{% do form.set_array_name('housing_needed') %}
							{{ attribute(validation, 'get_error', ['housing_from_scene']) | raw }}
							<div class="field">I am from: {{ form.input_text('housing_from_scene', null, {'size': 30, 'placeholder': 'Scene, area, nearest major city, etc.'}) | raw }}</div>

							{{ attribute(validation, 'get_error', ['housing_smoke']) | raw }}
							{{ attribute(validation, 'get_error', ['housing_pets'])  | raw }}
							<div class="field">
								<div class="checkbox"><label>{{ form.input_checkbox('housing_smoke') | raw }} I would prefer no smoking.</label></div>
								<div class="checkbox"><label>{{ form.input_checkbox('housing_pets')  | raw }} I would prefer no pets.</label></div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_nights']) | raw }}
							<div class="field">
								<div class="field-label">I need housing for:</div>
{% 		for index, night in event.housing_nights %}
								<div class="checkbox"><label>{{ form.input_checkbox('housing_nights', {'value': night}) | raw }} {{ night }}<label></div>
								{# 'housing_needed[housing_nights][%d]' #}
{% 		endfor %}
							</div>

							{{ attribute(validation, 'get_error', ['housing_gender']) | raw }}
							<div class="field">
								<div class="field-label">I prefer to be housed with:</div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 3, 'default': true}) | raw }} Boys and/or Girls</label></div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 1})                  | raw }} Boys only</label></div>
								<div class="radio"><label>{{ form.input_radio('housing_gender', {'value': 2})                  | raw }} Girls only</label></div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_bedtime']) | raw }}
							<div class="field">
								<div class="field-label">Bedtime preference:</div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 0, 'default': true}) | raw }} No Preference</label></div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 1})                  | raw }} Early Bird</label></div>
								<div class="radio"><label>{{ form.input_radio('housing_bedtime', {'value': 2})                  | raw }} Night Owl</label></div>
							</div>

							{{ attribute(validation, 'get_error', ['housing_comment']) | raw }}
							<div class="field textarea">
								<label for="housing_needed_comment">Comments:</label><br>
								{{ form.input_textarea('housing_comment', null, {'rows': 6}) | raw }}
							</div>
						</fieldset>{% do form.set_array_name(null) %}
{% 	else %}
						<fieldset>
							{{ attribute(validation, 'get_error', ['housing_type_provider']) | raw }}
							{{ attribute(validation, 'get_error', ['housing_type_needed']) | raw }}
							<div class="field">Housing requests are no longer available for this event.</div>
						</fieldset>
{% 	endif %}
{% endif %}


{# PAYMENT METHOD ##########################################}
						<h2>Payment Method</h2>
						<fieldset id="payment">
							{{ attribute(validation, 'get_error', ['payment_method']) | raw }}
							<div class="field">
{% if time <= event.date_paypal_prereg_end %}
								<div class="radio">{{ form.input_radio('payment_method', {'value': 'PayPal', 'default': true}) | raw }} PayPal {%- if options.paypal_fee %}{{ ' ($%d processing fee)' | format(options.paypal_fee) }}{% endif %}</div>
{% endif %}
{% if time <= event.date_mail_prereg_end %}
								<div class="radio">{{ form.input_radio('payment_method', {'value': 'Mail'}) | raw }} Mail {%- if options.postmark_within %}{{ ' (Check must be postmarked within %d days from date of registration.)' | format(options.postmark_within) }}{% endif %}
{% endif %}

								<div class="caption">
									<p>Refunds are available until {{ event.date_refund_end | date('F jS') }} at the discretion of {{ options.payable_to }}.</p>
								</div>
							</div>
						</fieldset>


						<div id="submit"><input type="submit" value="Continue&hellip;"></div>
					</form>
				</div>
{% endblock %}
