{% extends 'registration/_layout.html' %}

{% block id %}reg-sys-form-confirm{% endblock %}

{% block title %}Confirm Registration for {{ event.name }}{% endblock %}

{% block content %}
			<form action="{{ permalink }}{% if vip %}?vip{% endif %}" method="post"{% if vip %} class="vip"{% endif %}>
				{{ form.input_hidden('first_name')       | raw }}
				{{ form.input_hidden('last_name')        | raw }}
				{{ form.input_hidden('email')            | raw }}
				{{ form.input_hidden('confirm_email')    | raw }}
				{{ form.input_hidden('mobile_phone')     | raw }}
				{{ form.input_hidden('position')         | raw }}
				{{ form.input_hidden('level')            | raw }}
				{{ form.input_hidden('payment_discount') | raw }}
				{{ form.input_hidden('status')           | raw }}
				{{ form.input_hidden('payment_method')   | raw }}
				{{ form.input_hidden('confirmed')        | raw }}

{% for key, item in validated_items %}
{% 	if key == validated_package_id %}
				{{ form.input_hidden('package', key) | raw }}
				{{ form.input_hidden('package_tier[%d]' | format(key), item.price_tier) | raw }}
{% 	else %}
				{{ form.input_hidden('items[%d]' | format(key), key) | raw }}
{% 		if attribute(POST.item_meta, key) %}
				{{ form.input_hidden('item_meta[%d]' | format(key), attribute(POST.item_meta, key)) | raw }}
{% 		endif %}
{% 	endif %}
{% endfor %}

{% if event.has_housing_enabled %}
{% 	if dancer.needs_housing %}
				{{ form.input_hidden('housing_type_needed') | raw }}
{% 		for field in ['from_scene', 'smoke', 'pets', 'nights', 'gender', 'bedtime', 'comment'] %}
				{{ form.input_hidden('housing_needed[housing_%s]' | format(field), attribute(POST.housing_needed, 'housing_' ~ field)) | raw }}
{% 		endfor %}
{% 	elseif dancer.is_housing_provider %}
				{{ form.input_hidden('housing_type_provider') | raw }}
{% 		for field in ['spots_available', 'smoke', 'pets', 'nights', 'gender', 'bedtime', 'comment'] %}
				{{ form.input_hidden('housing_provider[housing_%s]' | format(field), attribute(POST.housing_provider, 'housing_' ~ field)) | raw }}
{% 		endfor %}
{% 	endif %}
{% endif %}

				<table>
					<tr>
						<td class="label">Name</td>
						<td class="value">{{ dancer.name }}</td>
						<td class="price">{% if dancer.is_vip %}<strong>VIP</strong>{% endif %}</td>
					</tr>
					<tr>
						<td class="label">Email Address</td>
						<td class="value">{{ dancer.email }}</td>
						<td class="price"></td>
					</tr>
					<tr>
						<td class="label">Mobile Phone Number</td>
						<td class="value">{{ dancer.mobile_phone }}</td>
						<td class="price"></td>
					</tr>
					<tr>
						<td class="label">Position</td>
						<td class="value">{{ dancer.position }}</td>
						<td class="price"></td>
					</tr>
{% if event.has_levels %}
					<tr>
						<td class="label">Level</td>
						<td class="value">{{ dancer.level }}</td>
						<td class="price"></td>
					</tr>
{% endif %}
{# }<?php if ($dancer->received_discount()): ?>
					<tr>
						<td class="label">Discount</td>
						<td class="value"><?php printf('Student or member of %s', esc_html($event->get_discount_org_name())); ?></td>
						<td class="price"></td>
					</tr>
<?php endif; ?> #}
{% if event.has_volunteers and dancer.is_volunteer %}
					<tr>
						<td class="label">Volunteer</td>
						<td class="value"></td>
						<td class="price"></td>
					</tr>
{% endif %}
{% if event.has_housing_enabled %}
{% 	if dancer.needs_housing %}
					<tr>
						<td class="label">Housing Needed</td>
						<td class="value"></td>
						<td class="price"></td>
					</tr>
{% 	elseif dancer.is_housing_provider %}
					<tr>
						<td class="label">Housing Provider</td>
						<td class="value">(Thank you!)</td>
						<td class="price"></td>
					</tr>
{% 	endif %}
{% endif %}
{% for key, item in validated_items %}
					<tr>
						<td class="label">{{ item.name }}</td>
						<td class="value">{{ attribute(POST.item_meta, key) | capitalize }}
						<td class="price">${{ dancer.is_vip ? item.price_for_vip : item.price_for_prereg }}</td>{# TODO: Discount #}
					</tr>
{% endfor %}
					<tr>
						<td class="label">Total Amount Owed</td>
						<td class="value">{# TODO <?php if ($total_cost > 0) { if ($_POST['payment_method'] === 'PayPal') { echo 'Pay with PayPal'; } else { echo 'Pay by mail'; } } ?>#}</td>
						<td class="price"><strong>TODO{# <?php printf('$%d', $total_cost); ?> #}<strong></td>
					</tr>
				</table>

				<div id="submit"><input type="submit" value="Confirm Registration"></div>
			</form>
{% endblock %}
