{% extends 'Admin.html' %}

{% import 'Admin.html' as form %}

{% block content %}
	<h2>Manage Registered Items for {{ dancer.name }}</h2>
	{% if POST and not hasErrors() %}{{ form.message('Dancer updated.') }}{% endif %}

	<style type="text/css">
		#regsys td {
			text-align: center;
		}
		tr.regsys-item {
			border-top: 1px solid #dfdfdf;
		}
	</style>

	<form action="{{ requestHref ~ 'AdminDancerRegisteredItems' ~ '&dancerID=' ~ dancer.id }}" method="post">
		<table class="form-table">
		<tbody>
			<tr valign="top">
				<th style="font-weight: bold">Item</th>
				<td style="font-weight: bold">Registered?</td>
				<td style="font-weight: bold">Add Registration</td>
				<td style="font-weight: bold">Delete Registration</td>
				<td style="font-weight: bold">Edit Info</td>
			</tr>
			{% for item in event.items -%}
			{%- set error = getError('item' ~ item.id) %}{% if error %}{{ ("\n\t\t\t\t" ~ '<tr valign="top" class="regsys-validation-error"><td>' ~ error ~ '</td></tr>') | raw }}{% endif %}

			<tr valign="top" class="regsys-item">
				<th scope="row">{{ item.name }}{% if item.isExpired %}<br /><span class="description">(Item has expired)</span>{% endif %}{% if not item.countOpenings %}<br /><span class="description">(Item has no openings)</span>{% endif %}</th>
				<td><input type="checkbox" disabled="disabled" {%- if dancer.registeredItems[item.id] %} checked="checked"{% endif %} /></td>
				<td><input type="checkbox" value="{{ item.id }}" name="itemsAdd[{{ item.id }}]"    {%- if     dancer.registeredItems[item.id] %} disabled="disabled"{% endif %}{% if POST.itemsAdd[item.id] %}    checked="checked"{% endif%} /></td>
				<td><input type="checkbox" value="{{ item.id }}" name="itemsDelete[{{ item.id }}]" {%- if not dancer.registeredItems[item.id] %} disabled="disabled"{% endif %}{% if POST.itemsDelete[item.id] %} checked="checked"{% endif%} /></td>
				<td class="regsys-meta">
				{%- if item.type == 'competition' -%}
					{%- set tempMeta = POST.itemMeta[item.id] ? POST.itemMeta[item.id] : dancer.registeredItems[item.id] ? dancer.registeredItems[item.id].registeredMeta : null -%}
					{%- if item.meta == 'Position' -%}
					<label><input type="radio" name="itemMeta[{{ item.id }}]" value="Lead" {%-   if tempMeta == 'Lead'   %} checked="checked"{% endif %} />&nbsp;Lead</label>
					<label><input type="radio" name="itemMeta[{{ item.id }}]" value="Follow" {%- if tempMeta == 'Follow' %} checked="checked"{% endif %} style="margin-left: 0.75em" />&nbsp;Follow</label>
					{%- elseif item.meta == 'CrossoverJJ' -%}
					{%- set tempMetaPosition = POST.itemMeta[item.id].position ? POST.itemMeta[item.id].position : dancer.registeredItems[item.id] ? (dancer.registeredItems[item.id].registeredMeta | split('/'))[0] : null -%}
					{%- set tempMetaLevel    = POST.itemMeta[item.id].level    ? POST.itemMeta[item.id].level    : dancer.registeredItems[item.id] ? (dancer.registeredItems[item.id].registeredMeta | split('/'))[1] : null -%}
					<label><input type="radio" name="itemMeta[{{ item.id }}][position]" value="Lead" {%-   if tempMetaPosition == 'Lead'   %} checked="checked"{% endif %} />&nbsp;Lead</label>
					<label><input type="radio" name="itemMeta[{{ item.id }}][position]" value="Follow" {%- if tempMetaPosition == 'Follow' %} checked="checked"{% endif %} style="margin-left: 0.75em" />&nbsp;Follow</label>
					<br />
					<label><input type="radio" name="itemMeta[{{ item.id }}][level]" value="Intermediate" {%- if tempMetaLevel == 'Intermediate' %} checked="checked"{% endif %} />&nbsp;Intermediate</label>
					<label><input type="radio" name="itemMeta[{{ item.id }}][level]" value="Advanced" {%-     if tempMetaLevel == 'Advanced'     %} checked="checked"{% endif %} style="margin-left: 0.75em" />&nbsp;Advanced</label>
					{%- elseif item.meta == 'Partner' -%}
					<label>Partner:&nbsp;<input type="text" name="itemMeta[{{ item.id }}]" value="{{ tempMeta }}"/></label>
					{%- elseif item.meta == 'Team Members' -%}
					<label>Team Members:<br /><textarea name="itemMeta[{{ item.id }}]" rows="6" cols="20">{{ tempMeta }}</textarea></label>
					{%- else -%}
					&mdash;
					{%- endif -%}
				{%- elseif item.type == 'shirt' -%}
					{%- set selectedSize = POST.itemMeta[item.id] ? POST.itemMeta[item.id] : dancer.registeredItems[item.id] ? dancer.registeredItems[item.id].registeredMeta : null %}
					<select name="itemMeta[{{ item.id }}]">
						{% for size in item.description | split(',') -%}
						<option value="{{ size }}" {%- if size == selectedSize %} selected="selected"{% endif %} />{{ size }}</option>
						{%- endfor %}
					</select>
				{%- else -%}
					&mdash;
				{%- endif -%}

				</td>
			</tr>
			{%- endfor %}
		</tbody>
		</table>

		<p class="sumbit">
    	<input type="submit" class="button-primary" value="Update Registered Items">
			<a style="margin-left: 2em" href="{{ requestHref ~ 'ReportDancer' ~ '&dancerID=' ~ dancer.id  }}">Back to Dancer Report</a>
		</p>
    </form>
</div>
{% endblock %}
