{% extends 'Admin.html' %}

{% block content %}
	<h2>Delete Housing for {{ dancer.name }}</h2>

	<form action="{{ requestHref ~ 'AdminDancerHousingDelete' ~ '&dancerID=' ~ dancer.id ~ '&noheader=true' }}" method="post">
		<p style="padding-top: 1.5em;"><input type="checkbox" name="confirmed" value="1" /> <strong>I'm sure I want to delete housing info for {{ dancer.name }}.</strong><span style="margin-left: 1em">{{ '[%s] [#%s]' | format(dancer.email, dancer.id) }}</span></p>
		<p class="submit"><input type="submit" class="delete" value="Delete Housing Info" /></p>
	</form>
{% endblock content %}
