{% extends 'Admin.html' %}

{% import 'Admin.html' as form %}

{% block content %}
	{%- if editing %}
	<h2>Edit Event
		<a href="{{ requestHref ~ 'AdminEventDelete' }}" class="delete add-new-h2">Delete Event</a>
		<a href="{{ requestHref ~ 'adminEventDelete' ~ '&registrationsOnly=true' }}" class="delete add-new-h2">Delete Registrations</a>
	</h2>
	{% if POST and not hasErrors() %}{{ form.message('Event updated.') }}{% endif %}
	{%- else %}
	<h2>Add New Event</h2>
	{%- endif %}

	<form action="{{ requestHref ~ 'AdminEvent' }}" method="post">
		<h3>Event Information</h3>
		<table class="form-table">
		<tbody>
			{{- form.text('Name',                           'name', 'Required') }}
			{{- form.text('Preregistration by Mail Ends',   'dateMail', 'Required', event.dateMail | date()) }}
			{{- form.text('Preregistration by PayPal Ends', 'datePayPal', 'Required', event.datePayPal | date()) }}
			{{- form.text('Refunds End',                    'dateRefund', 'PayPal date is used if this field is left empty.', event.dateRefund ? event.dateRefund | date() : '') }}
		</tbody>
		</table>

		<h3>Event Options</h3>
		<table class="form-table">
		<tbody>
			{{- form.checkbox('Has Volunteers?', 'hasVolunteers', 'This event supports volunteer registrations.') }}
			{{- form.text('Volunteer Description', 'volunteerDescription', 'Appears on registration form.<br />Useful for informing dancers about money for working.') }}
		</tbody>
		</table>

		<h3>Housing</h3>
		<table class="form-table">
		<tbody>
			{{- form.radios('Housing Support', 'hasHousing', [
				{'value': 0, 'label': 'No housing for this event.', 'default': true},
				{'value': 1, 'label': 'Housing reports are enabled, but new housing registrations <strong>are not</strong> allowed.'},
				{'value': 2, 'label': 'Housing reports are enabled, and new housing registrations <strong>are</strong> allowed.'},
				]) }}
			{{- form.text('Housing Nights', 'housingNights', 'Example: Friday,Saturday,Sunday') }}
		</tbody>
		</table>

		<h3>Levels</h3>
		<table class="form-table">
		<tbody>
			{{- form.checkbox('Level Support', 'hasLevels', 'This event records levels for dancers.') | raw }}
			{% for i in 1..4 -%}
			<tr valign="top">
				<th scope="row">Level {{ i }}</th>
				<td>
					<input type="text" name="editLevels[{{ i }}]" value="{{ event.levels[i].levelLabel }}" class="regular-text" />
					<input type="checkbox" name="editTryouts[{{ i }}]" value="1" {%- if event.levels[i].hasTryouts %} checked="checked"{% endif %}/>&nbsp;Has&nbsp;Tryouts
				</td>
			</tr>
			{%- endfor %}

		</tbody>
		</table>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('#add_discount_code').click(function() {
					// http://charlie.griefer.com/blog/2009/09/17/jquery-dynamically-adding-form-elements/
					
					var num    = $('.discount-row').length;
					var newNum = num + 1;
					
					var newElem = $('#discount_row_' + num).clone().attr('id', 'discount_row_' + newNum);
					
					newElem.children('th:first-child').html('Discount ' + newNum);
					newElem.find('input').attr('name', function(index, attr) { return attr.replace('[' + num + ']', '[' + newNum + ']'); }).val('');
					newElem.find('input#discount_expires_' + num).attr('id', 'discount_expires_' + newNum).val("{{ 'now' | date('Y-m-d, 11:59 \\P\\M') }}");
					
					$('#discount_row_' + num).after(newElem);
				});
			});
		</script>

		<h3>Discount Codes<button type="button" style="margin-left:1.25em; font-weight: normal; font-size: 0.83em" id="add_discount_code">Add New Code</button></h3>
		<p>Discount amounts: Negative number for amount off; Positive number (or zero) for fixed price.</p>
		<table class="form-table">
		<tbody>
			<tr valign="top">
				<td>Code</td>
				<td>Amount</td>
				<td>Limit</td>
				<td>Expiration Date</td>
				<td>Delete?</td>
			</tr>
			{% for discount in event.discounts | default({1: {'discountExpires': 'now' | date('Y-m-d, 11:59 \\P\\M')}}) -%}
			<tr valign="top" class="discount-row" id="discount_row_{{ loop.index }}">
				<td><input type="text" name="editDiscountCode[{{ loop.index }}]"    value="{{ discount.discountCode   }}" /></td>
				<td><input type="text" name="editDiscountAmount[{{ loop.index }}]"  value="{{ discount.discountAmount }}" /></td>
				<td><input type="text" name="editDiscountLimit[{{ loop.index }}]"   value="{{ discount.discountLimit  }}" /></td>
				<td><input type="text" name="editDiscountExpires[{{ loop.index }}]" value="{{ discount.discountExpires ? discount.discountExpires | date() : ''  }}" /></td>
				<td><input type="checkbox" name="editDiscountDelete[{{ discount.discountCode }}]" value="1" /></td>
			</tr>
			{%- endfor %}

		</tbody>
		</table>
		
		<h3>Visualization</h3>
		<table class="form-table">
		<tbody>
			{{- form.checkbox('Include in Visualization?', 'visualization', 'This event is included in the registration visualization chart.') }}
			{{- form.text('Visualization Line Color', 'visualizationColor') }}
		</tbody>
		</table>

		{% if editing -%}
		<input type="hidden" name="eventID" value="{{ event.id }}" />
		{%- endif %}

		<p class="submit"><input type="submit" class="button-primary" value="{{ editing ? 'Edit Event' : 'Add Event' }}"></p>
	</form>
{% endblock content %}
