{% extends 'Admin.html' %}

{% import 'Admin.html' as form %}

{% block content %}
	{%- if editing %}
	<h2>Edit Dancer
		<a class="delete" href="{{ requestHref ~ 'AdminDancerDelete' ~ '&dancerID=' ~ dancer.id }}">Delete Dancer</a>
	</h2>
	{% if POST and not hasErrors() %}{{ form.message('Dancer updated.') }}{% endif %}
	{%- else %}
	<h2>Add New Dancer</h2>
	{%- endif %}

	<form action="{{ requestHref ~ 'AdminDancer' }}{% if editing %}&dancerID={{ dancer.id }}{% else %}&new{% endif %}" method="post">
		<h3>Dancer Information</h3>

		<table class="form-table">
		<tbody>
			{{- form.text('First Name',   'firstName') }}
			{{- form.text('Last Name',    'lastName') }}
			{{- form.text('Email',        'email') }}
			{{- form.text('Mobile Phone', 'phone') }}

			{{- form.radios('Position', 'position', [
				{'label': 'Lead',   'value': 0},
				{'label': 'Follow', 'value': 1},
				]) }}

			{% if event.hasLevels -%}
			{{- form.radios('Level', 'levelID', event.levelsForRegistrationForm) }}
			{%- endif %}

			{% if event.hasVolunteers -%}
			{{- form.checkbox('Volunteer?', 'volunteer', 'Dancer is interested in volunteering.') }}
			{%- endif %}
			
			{{- form.text('Date Registered', 'dateRegistered', '', editing ? (dancer.dateRegistered ? dancer.dateRegistered | date() : '') : 'now' | date) }}

			{{- form.radios('Payment Method', 'paymentMethod', [
				{'label': 'Mail',   'value': 'Mail', 'default': true},
				{'label': 'PayPal', 'value': 'PayPal'},
				]) }}
		</tbody>
		</table>

		<input type="hidden" name="eventID" value="{{ event.id }}" />
		{%- if editing %}{{ "\n\t\t" }}<input type="hidden" name="dancerID" value="{{ dancer.id }}" />{% endif %}

		<p class="submit">
			<input type="submit" class="button-primary" value="{{ editing ? 'Edit Dancer' : 'Add Dancer' }}">
			{% if editing %}<a style="margin-left: 2em" href="{{ requestHref ~ 'ReportDancer' ~ '&dancerID=' ~ dancer.id  }}">Back to Dancer Report</a>{% endif %}
		</p>
	</form>
{% endblock content %}
