{% set request = 'regsys-options' %}
{% extends 'Admin.html' %}

{% import 'Admin.html' as form %}

{% block content %}
	<h2>Registration Options</h2>
	{%- if GET['settings-updated'] == 'true' %}{{ "\n\t" }}{{ form.message('Options saved.') }}{% endif %}

	<form action="options.php" method="post">
		{{ settings_fields('regsys') }}

		<h3>Registration</h3>

		<table class="form-table">
		<tbody>
			{{- form.select('Current Event', 'regsys[currentEventID]', events) }}

			{{- form.checkbox('Registration Testing', 'regsys[registrationTesting]', 'Only "capable" users will be able to access the registration form.') }}

			{{- form.row('Postmark Within', 'postmarkWithin',
				'<span>Payments must be postmarked within <input type="text" name="regsys[postmarkWithin]" value="%s" class="regular-text" style="width: 3em" /> days.</span>' | format(options.postmarkWithin)) }}
		</tbody>
		</table>

		<h3>Pay by Mail</h3>

		<table class="form-table">
		<tbody>
			{{- form.text('Payable To', 'regsys[payableTo]') }}
			{{- form.textarea('Mailing Address', 'regsys[mailingAddress]') }}
		</tbody>
		</table>

		<h3>PayPal</h3>

		<table class="form-table">
		<tbody>
			{{- form.text('PayPal Business Address', 'regsys[paypalBusiness]', 'The email address used to receive payments via PayPal.') }}

			{{- form.text('PayPal Processing Fee', 'regsys[paypalFee]',	'The processing fee, if any, for payments made via PayPal.') }}

			{{- form.checkbox('PayPal Sandbox', 'regsys[paypalSandbox]regsys[', 'Use the <a href="https://developer.paypal.com/webapps/developer/applications/accounts">PayPal Sandbox</a> (advanced testing only).') }}

			{{- form.text('PayPal Sandbox Address', 'regsys[paypalSandboxEmail]', 'The email address used for the PayPal Sandbox.') }}
		</tbody>	
		</table>

		<h3>Confirmation Email</h3>

		<table class="form-table">
		<tbody>
			{{- form.text('Email From', 'regsys[emailFrom]') }}

			{{- form.text('Email Reply-To', 'regsys[emailReplyTo]') }}

			{{- form.text('Email Bcc', 'regsys[emailBcc]') }}

			{{- form.checkbox('Send Email While Testing', 'regsys[emailTesting]', 'Send confirmation email while registration testing is enabled.') }}

			{{- form.radios('Transport Type', 'regsys[emailTransport]', [
				{'value': 'smtp', 'label': '<abbr title="Simple Mail Transfer Protocol">SMTP</abbr>'},
				{'value': 'mail', 'label': '<span title="PHP&#39;s internal mail function">Mail</span>'}
				],
				'Specify the <a href="http://swiftmailer.org/docs/sending.html#transport-types">transport type to be used by Swift Mailer</a>.') }}

			{{- form.text('SMTP Host', 'regsys[emailHost]') }}
			{{- form.text('SMTP Port', 'regsys[emailPort]') }}
			{{- form.text('SMTP Username', 'regsys[emailUsername]') }}
			{{- form.text('SMTP Password', 'regsys[emailPassword]') }}

			{{- form.radios('SMTP Encryption', 'regsys[emailEncryption]', [
				{'value': 'ssl',  'label': '<abbr title="Secure Sockets Layer">SSL</abbr>'},
				{'value': 'tls',  'label': '<abbr title="Transport Layer Security">TSL</abbr>'},
				{'value': 'none', 'label': 'None'}
				]) }}
		</tbody>
		</table>

		<p class="submit"><input type="submit" class="button-primary" value="Save Changes"></p>
	</form>
{% endblock content %}
