{% extends 'Admin.html' %}

{% block content %}
	<h2>Delete Event{% if GET.registrationsOnly == 'true' %} Registrations{% endif %}</h2>

	<form action="{{ requestHref ~ 'AdminEventDelete' ~ '&noheader=true' }}{% if GET.registrationsOnly == 'true' %}&amp;registrationsOnly=true{% endif %}" method="post">
		<p style="padding-top: 1.5em;"><input type="checkbox" name="confirmed" value="1" /> <strong>I'm sure I want to delete <em>all {{ GET.registrationsOnly ? 'registrations' : 'information' }}</em> for {{ event.name }}.</strong></p>
		<p class="submit"><input type="submit" class="delete" value="{{ GET.registrationsOnly ? 'Delete Registrations' : 'Delete Event' }}" /></p>
	</form>
{% endblock content %}
