{% extends 'Form.html' %}

{% block id %}regsys-confirm{% endblock %}

{% block title %}Confirm Registration for {{ event.name }}{% endblock %}

{% block content %}
	<form action="{{ permalink }}{% if vip %}?vip{% endif %}" method="post"{% if vip %} class="vip"{% endif %}>
		<input type="hidden" name="firstName"     value="{{ dancer.firstName }}">
		<input type="hidden" name="lastName"      value="{{ dancer.lastName }}">
		<input type="hidden" name="email"         value="{{ dancer.email }}">
		<input type="hidden" name="confirmEmail"  value="{{ dancer.confirmEmail }}">
		<input type="hidden" name="phone"         value="{{ dancer.phone }}">
		<input type="hidden" name="position"      value="{{ dancer.position }}">
		<input type="hidden" name="levelID"       value="{{ dancer.levelID }}">
		<input type="hidden" name="volunteer"     value="{{ dancer.volunteer }}">
		<input type="hidden" name="paymentMethod" value="{{ dancer.paymentMethod }}">
		{% if dancer.discountCode -%}
		<input type="hidden" name="discountCode"  value="{{ dancer.discountCode }}">
		{%- endif %}

		<input type="hidden" name="confirmed" value="1">

		{% for item in dancer.registeredItems -%}
		{% if item.type == 'package' -%}
		<input type="hidden" name="package" value="{{ item.id }}">
		{% if POST.packageTier[item.id] -%}
		<input type="hidden" name="packageTier[{{ item.id }}]" value="{{ POST.packageTier[item.id] ? POST.packageTier[item.id] : item.priceTier }}">
		{%- endif %}
		{%- else -%}
		<input type="hidden" name="items[{{ item.id }}]" value="{{ item.type == 'shirt' ? item.registeredMeta : item.id }}">
		{% if item.registeredMeta and item.type != 'shirt' -%}
		<input type="hidden" name="itemMeta[{{ item.id }}]" value="{{ item.registeredMeta }}">
		{%- endif %}
		{%- endif %}
		{%- else -%}
		<input type="hidden" name="package" value="0">
		{%- endfor %}


		{% if event.hasHousingRegistrations and dancer.needsHousing -%}
		<input type="hidden" name="housingTypeNeeded" value="1">
		{%- for field in ['FromScene', 'Smoke', 'Pets', 'Nights', 'Gender', 'Bedtime', 'Comment'] %}{{ '' }}
		<input type="hidden" name="{{ 'housingNeeded[housing%s]' | format(field) }}" value="{{ attribute(dancer, 'housing' ~ field) }}">
		{%- endfor %}
		{%- elseif event.hasHousingSupport and dancer.isHousingProvider -%}
		<input type="hidden" name="housingTypeProvider" value="1">
		{%- for field in ['SpotsAvailable', 'Smoke', 'Pets', 'Nights', 'Gender', 'Bedtime', 'Comment'] %}{{ '' }}
		<input type="hidden" name="{{ 'housingProvider[housing%s]' | format(field) }}" value="{{ attribute(dancer, 'housing' ~ field) }}">
		{%- endfor %}
		{%- endif %}


		<table>
		<tbody>
			<tr>
				<td class="label">Name</td>
				<td class="value">{{ dancer.name }}</td>
				<td class="price">{# Required for first row in table #}</td>
			</tr>
			<tr>
				<td class="label">Email Address</td>
				<td class="value" colspan="2">{{ dancer.email }}</td>
			</tr>
			<tr>
				<td class="label">Mobile Phone Number</td>
				<td class="value" colspan="2">{{ dancer.phone }}</td>
			</tr>
			<tr>
				<td class="label">Position</td>
				<td class="value" colspan="2">{{ dancer.positionLabel }}</td>
			</tr>
			{% if event.hasLevels -%}
			<tr>
				<td class="label">Level</td>
				<td class="value" colspan="2">{{ dancer.level }}</td>
			</tr>
			{%- endif %}

			{% if event.hasVolunteers and dancer.volunteer -%}
			<tr>
				<td class="label" colspan="3">Volunteer</td>
			</tr>
			{%- endif %}

			{% if dancer.needsHousing -%}
			<tr>
				<td class="label" colspan="3">Housing Needed</td>
			</tr>
			{%- elseif dancer.isHousingProvider -%}
			<tr>
				<td class="label">Housing Provider</td>
				<td class="value" colspan="2">(Thank you!)</td>
			</tr>
			{%- endif %}

			{% for item in dancer.registeredItems -%}
			<tr>
				<td class="label">{{ item.name }}</td>
				<td class="value">{{ item.type == 'package' and dancer.discountCode ? 'Discount code "%s"%s' | format(dancer.discountCode, (discountAmount < 0 ? ' [-$%s]' | format(discountAmount * -1) : '')) : item.registeredMeta }}</td>
				<td class="price">{{ '$' ~ item.registeredPrice }}</td>
			</tr>
			{%- endfor %}

			<tr>
				<td class="label">Total Amount Owed</td>
				<td class="value">{% if dancer.priceTotal > 0 %}{% if dancer.paymentMethod == 'PayPal'%}Pay with PayPal{% else %}Pay by mail{% endif %}{% endif %}</td>
				<td class="price"><strong>{{ '$' ~ dancer.priceTotal }}<strong></td>
			</tr>
		</tbody>
		</table>

		<div id="submit">
			<input type="submit" value="Confirm Registration">
			<script type="text/javascript">jQuery(document).ready(function($) { $('#submit').append("\t" + '<a href="javascript:history.go(-1)" style="margin-left:2em">Make Changes</a>' + "\n\t\t"); });</script>
		</div>
	</form>
{% endblock %}
