{% extends 'Form.html' %}

{% block id %}regsys-accepted{% endblock %}

{% block title %}Registration Accepted for {{ event.name }}{% endblock %}

{% block content %}
	<div>
		<p>Your registration has been recorded.</p>

		{% if dancer.priceTotal == 0 -%}
		<p>Your total cost was $0, so no payment is required.</p>
		{%- else -%}
		{% if dancer.paymentMethod == 'PayPal' -%}
		<p>Use the button below to pay via PayPal. (A PayPal link has also been included in your confirmation email.)</p>

		<a href="{{ attribute(dancer, 'paypalHref', [notifyUrl]) }}"><img src="https://www.paypal.com/en_US/i/btn/x-click-but6.gif" alt="Send payment via PayPal" style="display: block; margin: 1.5em auto;"></a>
		{%- elseif dancer.paymentMethod == 'Mail' -%}
		<p>Please mail your check for <strong>{{ '$' ~ dancer.priceTotal }}</strong> (made out to <em>{{ options.payableTo }}</em>), along with your name and email address, to:</p>
		<p style="font-weight: bold;">{{ options.mailingAddress | nl2br }}</p>

		<p>(Note that checks are processed in batches, so there will be a delay in cashing your check after it is received.)</p>
		{%- endif %}
		<p>Your payment must be {{ dancer.paymentMethod == 'Mail' ? 'postmarked' : 'received in full' }} by {{ dancer.datePostmarkBy | date('F jS') }}.
		If payment is not received on time you will forfeit your registration. You will have to register again &mdash; with the going price and subject to availability &mdash; to secure your reservation.</p>

		<p>Refunds are available until {{ event.dateRefund | date('F jS') }} at the discretion of {{ options.payableTo }}.</p>
		{%- endif %}

		{% if confirmationEmailFailed -%}
		<p style="background-color: #fcc; padding: 0.5em;">Your registration has been recorded, but it appears that your confirmation email failed to send. If you would like, you may email {{ '<a href="mailto:%1$s">%1$s</a>' | format(options.emailReplyTo ? options.emailReplyTo : options.emailFrom) | raw }} to request that your confirmation email be re-sent.<br><br>Reason: <span style="font-family: monospace; font-size: 1.2em">{{ confirmationEmailFailed.message }}</span></p>
		{%- endif %}
	</div>
{% endblock %}
