{% from 'Admin.html' import message as message %}

<div id="regsys" class="wrap">
<div id="ReportIndex">
	<h2>Registration Reports
		{%- if admin %}
		<a class="button add-new-h2" href="{{ requestHref ~ 'AdminEvent' }}">Add New Event</a>
		{%- endif %}
		<a class="button add-new-h2" href="{{ requestHref ~ 'ReportVisualizationRegistration' }}">View Registration Visualization Chart</a>
		<a class="button add-new-h2" href="{{ requestHref ~ 'ReportVisualizationMoney' }}">View Money Visualization Chart</a>
	</h2>
	{%- if GET.deleted %}{{ "\n\t" }}{{ message('Deleted %s%s.' | format((GET.registrationsOnly == 'true' ? 'registrations for ' : ''), GET.deleted), 'error') }}{% endif %}

	<style type="text/css">
		#regsys tr.current-event td.column-title {
			font-size: 1.1em;
			font-style: italic;
		}
	</style>

	{%- if events %}
	<h3>Choose Event</h3>

	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title">Title</th>
				<th class="manage-column" width="24%">Mail Preregistration End Date</th>
				<th class="manage-column" width="25%">PayPal Preregistration End Date</th>
				<th class="manage-column" width="20%">No Refunds After</th>
				{% if admin %}
				<th class="manage-column ellipsis" width="9%">Edit Event</th>
				{% endif %}
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th class="manage-column column-title">Title</th>
				<th class="manage-column">Mail Preregistration End Date</th>
				<th class="manage-column">PayPal Preregistration End Date</th>
				<th class="manage-column">No Refunds After</th>
				{% if admin %}
				<th class="manage-column ellipsis">Edit Event</th>
				{% endif %}
			</tr>
		</tfoot>

		<tbody>
			{%- for event in events %}
			<tr class="{{ cycle(['', 'alternate'], loop.index) }}{% if options.currentEventID == event.id %} current-event{% endif %}">
				<td class="column-title"><a href="{{ requestHref ~ 'ReportIndexEvent' ~ '&eventID=' ~ event.id }}">{{ event.name }}</a></td>
				<td class="date">{{ event.dateMail | date }}</td>
				<td class="date">{{ event.datePayPal | date }}</td>
				<td class="date">{{ event.dateRefund ? event.dateRefund | date : '—' }}</td>
				{%- if admin %}
				<td><a href="{{ requestHref ~ 'AdminEvent' ~ '&eventID=' ~ event.id }}">Edit Event</a></td>
				{%- endif %}
			</tr>{% if not loop.last %}{{ "\n\n" }}{% else %}{{ "\n" }}{% endif %}
			{%- endfor %}
		</tbody>
	</table>
	{%- else %}
	<p>No events have been created yet.<p>
	{%- endif %}
</div>
</div>
