{% extends 'Report.html' %}

{% block content %}
	<style type="text/css">
		#regsys #ReportPacketPrintout div.dancer span.paid-owed { float: right; }

		@media screen {
			#regsys #ReportPacketPrintout div.dancer {
				margin-bottom: 2em;
				padding-bottom: 0.5em;
				border-bottom: 1px dotted #000;
			}
		}
		@media print {
			#regsys #ReportPacketPrintout h2 { display: none; }
			#regsys #ReportPacketPrintout h4 { font-size: 28pt !important; margin: 1em 0 2em; }
			#regsys #ReportPacketPrintout h5 { font-size: 16pt !important; }
			#regsys #ReportPacketPrintout ul { font-size: 16pt !important; }
			#regsys #ReportPacketPrintout div.dancer { page-break-after: always; }
		}
	</style>

	<h3 class="no-print" style="margin-bottom: 2em;">Packet Printouts</h3>

	{% for dancer in dancers -%}
	<div class="dancer">
		<h4>{{ dancer.nameReversed }}
		<span class="paid-owed">{% if dancer.paymentConfirmed %}Paid &#x2714;{% else %}Owed: ${{ dancer.paymentOwed }}{% endif %}</span>
		</h4>

		<h5>Personal Info</h5>
		<ul>
			<li>Position: {{ dancer.positionLabel }}</li>
			{% if event.hasLevels -%}
			<li>Level: {{ dancer.level }}</li>
			{%- endif %}

			{% if dancer.volunteer -%}
			<li>Volunteer</li>
			{%- endif %}

		</ul>

		<h5>Registrations</h5>
		<ul>
			{% for item in dancer.registeredItems -%}
			<li>{{ item.name }} {%- if item.registeredMeta %}{{ ' (%s)' | format(item.registeredMeta) }}{% endif %}</li>
			{%- else -%}
			<li>There are no registrations for this dancer.</li>
			{%- endfor %}

		</ul>

		{% if dancer.needsHousing -%}
		<h5>{{ dancer.housingTypeLabel }}</h5>
		{%- endif %}

	</div>
	{% else -%}
	<p>There are no registered dancers for this event.<p>
	{%- endfor %}

{% endblock content %}
