{% extends 'Report.html' %}

{% block content %}
	<h3>Discounts</h3>

	{% if event.dancers -%}
	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title"><div>Name</div></th>
				<th class="manage-column"><div>Discount Code</div></th>
				<th class="manage-column"><div>Date Registered</div></th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th class="manage-column column-title"><div>Name</div></th>
				<th class="manage-column"><div>Discount Code</div></th>
				<th class="manage-column"><div>Date Registered</div></th>
			</tr>
		</tfoot>

		<tbody>
			{% for dancer in event.dancers if dancer.discountCode -%}
			<tr>
				<td class="column-title"><a href="{{ requestHref ~ 'ReportDancer' ~ '&dancerID=' ~ dancer.id }}">{{ dancer.nameReversed }}</a></td>
				<td class="tel">{{ dancer.discountCode }}</td>
				<td class="date">{{ dancer.dateRegistered | date }}</td>
			</tr>
			{%- else -%}
			<tr><td colspan="3">There are no registered dancers with discount codes for this event.</td></tr>
			{%- endfor %}
		</tbody>
	</table>
	{%- else -%}
	<p>There are no registered dancers for this event.</p>
	{%- endif %}
{% endblock content %}
