{% extends 'Report.html' %}

{% block content %}
	<h3>Competitions
		{% if items -%}
		<a class="button" href="{{ requestHref ~ 'report_download_csv' ~ '&noheader=true&data=competitions' }}">Download Email Addresses</a>
		{%- endif %}

	</h3>

	{% for item in items -%}
	<h4>{{ item.name }}
	{%- if item.meta != 'Position' -%}
		{{ ' (%d)' | format(item.countRegistrations) }}
	{%- else -%}
		{{ pluralize('1 lead', '%d leads', attribute(item, 'countOpenings', ['lead'])) }}, {{ pluralize('1 follow', '%d follows', attribute(item, 'countOpenings', ['follow'])) }}
	{%- endif -%}

	</h4>

	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title"><div>Name</div></th>
				<th class="manage-column"><div>{% if item.meta == 'CrossoverJJ' %}Position/Level{% else %}{{ item.meta }}{% endif %}</div></th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th class="manage-column column-title"><div>Name</div></th>
				<th class="manage-column"><div>{% if item.meta == 'CrossoverJJ' %}Position/Level{% else %}{{ item.meta }}{% endif %}</div></th>
			</tr>
		</tfoot>

		<tbody>
			{% for dancer in item.registeredDancers -%}
			<tr {{- cycle(['', ' class="alternate"'], loop.index) | raw }}>
				<td class="column-title"><a href="{{ requestHref ~ 'ReportDancer' ~ '&dancerID=' ~ dancer.id }}">{{ dancer.name }}</a></td>
				<td>{{ dancer.itemMeta }}</td>
			</tr>
			{%- else -%}
			<tr><td colspan="2">There are no registered dancers for this competition.</td></tr>
			{%- endfor %}

		</tbody>
	</table>
	{%- else -%}
	<p>There aren't any competitions for this event.</p>
	{%- endfor %}

{% endblock content %}
