{% extends 'Report.html' %}

{% from 'Admin.html' import message as message %}

{% block content %}
	<style type="text/css">
		#regsys h4 {
			margin-top: 2.5em;
		}
	</style>

	<div class="vcard">
	<h3><span class="fn n"><span class="given-name">{{ dancer.firstName }}</span> <span class="family-name">{{ dancer.lastName }}</span></span>
	{%- if admin %}
		<a class="button" href="{{ requestHref ~ 'AdminDancer'   ~ '&dancerID=' ~ dancer.id }}">Edit Dancer</a>
	{%- endif %}
	</h3>
	{%- if GET.deleted %}{{ "\n\t" }}{{ message('Deleted %s.' | format(GET.deleted), 'error') }}{% endif %}
	{%- if GET.sentConfirmationEmail %}{{ "\n\t" }}{{ message('Confirmation email sent.') }}{% endif %}

	<ul>
		<li><a href="{{ dancer.mailto }}"><span class="email">{{ dancer.email }}</span></a></li>
		<li class="tel">{{ dancer.phone }}</li>
		<li><strong>Position:</strong> {{ dancer.positionLabel }}</li>
		{% if event.hasLevels -%}
		<li><strong>Level:</strong> {{ dancer.level }}</li>
		{%- endif %}

		{% if event.hasDiscounts and dancer.discountCode -%}
		<li><strong>Discount Code:</strong> {{ dancer.discountCode }}
		{%- endif %}

		{% if dancer.volunteer -%}
		<li><strong>Volunteer</strong></li>
		{%- endif %}

	</ul>
	</div> <!-- .vcard -->

	<h4>Registered Items
		{% if admin -%}
		<a class="button" href="{{ requestHref ~ 'AdminDancerRegisteredItems' ~ '&dancerID=' ~ dancer.id }}">Manage Registered Items</a>
		<a class="button" href="{{ dancer.paypalHref }}">PayPal Link</a>
		<a class="button" href="{{ requestHref ~ 'AdminDancerResendEmail' ~ '&dancerID=' ~ dancer.id ~ '&noheader=true' }}">Resend Confirmation Email</a>
		{%- endif %}
	</h4>

	<ul>
		{% for item in dancer.registeredItems -%}
		<li>{{ item.name }} {%- if item.registeredMeta %}{{ ' (%s)' | format(item.registeredMeta) }}{% endif %}</li>
		{%- else -%}
		<li>There are no registrations for this dancer.</li>
		{%- endfor %}
	</ul>

	{% if event.hasHousingSupport -%}
	{% if dancer.needsHousing or dancer.isHousingProvider -%}
	<h4>{{ dancer.housingTypeLabel }}
		{%- if admin -%}
		<a href="{{ requestHref ~ 'AdminDancerHousing' ~ '&dancerID=' ~ dancer.id }}" class="button">Edit Housing Info</a>
		{%- endif -%}
	</h4>

	<ul>
	{%- if dancer.isHousingProvider %}
		<li>Available spots: {{ dancer.housingSpotsAvailable }}</li>
		<li>{{ dancer.hasSmoke ? 'Smokes' : 'Does not smoke' }}</li>
		<li>{{ dancer.hasPets ? 'Has pets' : 'Does not have pets' }}</li>
	{%- else %}
		<li>From Scene: {{ dancer.housingFromScene }}</li>
		<li>{{ dancer.prefersNoSmoke ? 'Prefers no smoke' : 'No preference on smoking' }}</li>
		<li>{{ dancer.prefersNoPets ? 'Prefers no pets' : 'No preference on pets' }}</li>
	{%- endif %}
		<li>Nights: {{ dancer.housingNights | split(',') | join(', ') }}</li>
		<li>Gender: {{ dancer.housingGenderLabel }}</li>
		<li>Bedtime: {{ dancer.housingBedtimeLabel }}</li>
		{% if dancer.housingComment -%}
		<li>Comment: {{ dancer.housingComment }}</li>
		{%- endif %}
	</ul>
	{%- else %}
	<h4>Housing
		{%- if admin -%}
		<a href="{{ requestHref ~ 'AdminDancerHousing' ~ '&dancerID=' ~ dancer.id }}" class="button">Add Housing Info</a>
		{%- endif -%}
	</h4>

	<ul><li>This dancer is not registered for housing.</li></ul>
	{%- endif %}
	{%- endif %}

	{% if dancer.note -%}
	<h4>Admin Note</h4>

	<p>{{ dancer.note | nl2br }}</p>
	{%- endif %}
{% endblock content %}
