{% extends 'Report.html' %}

{% block content %}
	<h3>Attendance&nbsp;/&nbsp;Numbers</h3>

	{% for listKey, list in lists -%}
	<h4>{{ listKey }}</h4>
	<ul>
		{% for key, value in list -%}
		<li>{{ key ~ ': ' ~ value }}</li>
		{%- endfor %}
	</ul>

	{%- endfor %}


	{% for item in tieredPackages -%}
	<h4 style="margin-top: 2em;">Package –  {{ item.name }}</h4>
	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title"></th>
				<th class="manage-column">Total</th>
				{% for paymentMethod in event.paymentMethods -%}
				<th class="manage-column">{{ paymentMethod }}</th>
				{%- endfor %}

			</tr>
		</thead>

		<tbody>
			{% for price, numbers in item.registrationPriceNumbers -%}
			<tr class="{{- cycle(['', ' alternate'], loop.index) }}">
				<td>{% if price == 'Total' %}<em>{{ item.name }}</em>{% else %}{{ '%s: $%d' | format(item.name, price) }}{% endif %}</td>
				{% for number in numbers -%}
				<td>{{ number }}</td>
				{%- endfor %}

				</tr>
			{%- else -%}
			<tr><td colspan="{{ 2 + (event.paymentMethods | length) }}">There are no registrations for this item.</td></tr>
			{%- endfor %}

		</tbody>
	</table>
	{%- endfor %}


	{% if packagesAndComps -%}
	<h4 style="margin-top: 2em;">{% if tieredPackages %}Other {% endif -%} Packages and Competitions</h4>
	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title"></th>
				<th class="manage-column">Total</th>
				{% for paymentMethod in event.paymentMethods -%}
				<th class="manage-column">{{ paymentMethod }}</th>
				{%- endfor %}

			</tr>
		</thead>

		<tbody>
			{% for item in packagesAndComps -%}
			<tr class="{{- cycle(['', ' alternate'], loop.index) }}">
				<td>{{ item.name }}</td>
				<td>{{ item.countRegistrations }}</td>
				{% for paymentMethod in event.paymentMethods -%}
				<td>{{ attribute(item, 'countRegistrationsByPaymentMethod', [paymentMethod]) }}</td>
				{%- endfor %}

			</tr>
			{%- endfor %}

		</tbody>	
	</table>
	{%- endif %}


	{% if shirts -%}
	<h4 style="margin-top: 2em;">Shirts</h4>
	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title" width="22%"></th>
				{% for size in sizes -%}
				<th class="manage-column">{{ size }}</th>
				{%- endfor %}

				<th class="manage-column">Total</th>
				<th class="manage-column" width="16%">Payment Methods</th>
			</tr>
		</thead>

		<tbody>
			{%- for item in shirts %}
			<tr class="{{- cycle(['', ' alternate'], loop.index) }}">
				<td>{{ item.name }}</td>
				{% for size in sizes -%}
				<td>{% if size in item.sizes %}{{ attribute(item, 'countRegistrationsBySize', [size]) }}{% else %}&mdash;{% endif %}</td>
				{%- endfor %}

				<td>{{ item.countRegistrations }}</td>
				<td>{% for paymentMethod in event.paymentMethods %}{{ '%d %s%s' | format(attribute(item, 'countRegistrationsByPaymentMethod', [paymentMethod]), paymentMethod, not loop.last ? '; ' : '') }}{% endfor %}</td>
			</tr>
			{%- endfor %}

		</tbody>
	</table>
	{%- endif %}

{% endblock content %}
