<div id="regsys" class="wrap">
<div id="ReportIndexEvent">
	<h2>Reports for {{ event.name }}</h2>

	<h3>Choose Report</h3>

	<ul style="font-weight: bold">
		<li><a href="{{ requestHref ~ 'ReportItems' }}">Items</a></li>
		<li><a href="{{ requestHref ~ 'ReportNumbers' }}">Attendance&nbsp;/&nbsp;Numbers</a></li>
		<li><a href="{{ requestHref ~ 'ReportCompetitions' }}">Competitions</a></li>
		<li><a href="{{ requestHref ~ 'ReportDancers' }}">Dancers</a></li>
		{%- if event.hasHousingSupport %}
		<li><a href="{{ requestHref ~ 'ReportHousingNeeded' }}">Housing Needed</a></li>
		<li><a href="{{ requestHref ~ 'ReportHousingProviders' }}">Housing Providers</a></li>
		{%- endif %}
		{%- if event.hasDiscounts %}
		<li><a href="{{ requestHref ~ 'ReportDiscounts' }}">Discounts</a></li>
		{%- endif %}
		<li><a href="{{ requestHref ~ 'ReportMoney' }}">Money</a></li>
		<li><a href="{{ requestHref ~ 'ReportPacketPrintout' }}">Packet Printout</a></li>
		<li><a href="{{ requestHref ~ 'ReportRegistrationList' }}">Registration List</a></li>
		{%- if event.hasVolunteers %}
		<li><a href="{{ requestHref ~ 'ReportVolunteers' }}">Volunteers</a></li>
		{%- endif %}
	</ul>
</div>
</div>
