{% extends 'Report.html' %}

{% from 'Admin.html' import message as message %}

{% block content %}
	<style type="text/css">
		@media screen {
			#regsys #ReportRegistrationList td { vertical-align: middle; }
			#regsys #ReportRegistrationList td.paid { text-align: center; }
			#regsys #ReportRegistrationList td.owed input { text-align: right; }
			#regsys #ReportRegistrationList td.total-cost { text-align: right; }
			#regsys #ReportRegistrationList .overdue { background-color: #fcc; }
		}
		@media print {
			#regsys #ReportRegistrationList td { font-family: Georgia, serif !important; }
			#regsys #ReportRegistrationList td.owed input {
				text-align: right;
				border: 0;
				background-color: inherit;
				font-family: inherit;
				font-size: inherit;
			}
		}
	</style>

	{%- if POST %}{{ "\t" }}{{ message('Payment info updated.') }}{% endif %}

	<form action="{{ requestHref ~ 'ReportRegistrationList' }}" method="post">
{% if dancers %}
		<input type="submit" value="Save Payment Info" class="no-print button" style="float: right; margin: -0.7em 0 1em;" />
{% endif %}
		<h3>Registration List</h3>

{% if dancers %}
	<table class="widefat page fixed report">
		<thead>
			<tr>
				<th class="manage-column column-title" width="19%"><div>Name</div></th>
{% 	for item in event.items %}
				<th class="manage-column">{{ item.name }}</th>
{% 	endfor %}
				<th class="manage-column" width="17%"><div>Level</div></th>
				<th class="manage-column" width="11%"><div class="ellipsis">Date Registered</div></th>
				<th class="manage-column total-cost" width="6%"><div>Total</div></th>
				<th class="manage-column paid" width="6%"><div>Paid?</div></th>
				<th class="manage-column owed" width="8%"><div>Owed</div></th>
				<th class="manage-column no-print" width="8%"><div>Method</div></th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th class="manage-column column-title">Name</th>
{% 	for item in event.items %}
				<th class="manage-column">{{ item.name }}</th>
{% 	endfor %}
				<th class="manage-column">Level</th>
				<th class="manage-column ellipsis">Date Registered</th>
				<th class="manage-column total-cost">Total Cost</th>
				<th class="manage-column paid">Paid?</th>
				<th class="manage-column owed">Owed</th>
				<th class="manage-column no-print">Method</th>
			</tr>
		</tfoot>

		<tbody>
{% for dancer in dancers %}
			<tr {{- cycle(['', ' class="alternate"'], loop.index) | raw }}>
				<td class="column-title"><a href="{{ requestHref ~ 'ReportDancer' ~ '&dancerID=' ~ dancer.id }}">{{ dancer.nameReversed }}</td>
{% 	for item in event.items %}
				<td>{% if dancer.registeredItems[item.id] %}&bull;{% endif %}</td>
{% 	endfor %}
				<td class="ellipsis">{{ dancer.level }}</td>
				<td class="date">{{ dancer.dateRegistered | date() }}</td>
				<td class="total-cost">${{ dancer.priceTotal }}</td>
				<td class="paid"><input type="checkbox" {%- if dancer.paymentConfirmed %} checked="checked"{% endif %} name="paymentConfirmed[{{ dancer.id }}]" value="1" /></td>
				<td class="owed"><input type="text" value="{{ dancer.paymentOwed }}" name="paymentOwed[{{ dancer.id }}]" size="3" /></td>
				<td class="no-print">{{ dancer.paymentMethod }}</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
		<p>There are no registered dancers for this event.</p>
{% endif %}
	</form>
{% endblock content %}
