{% extends 'admin/_layout.html' %}

{% from 'admin/_layout.html' import message as message %}
{% from 'admin/_layout.html' import form_table_row as form_table_row %}

{% block content %}
{% if GET.request == 'admin_event_add' %}
	<h2>Add New Event</h2>
{% else %}
	<h2>Edit Event
		<a href="{{ request_href ~ 'admin_event_delete' }}" class="delete add-new-h2">Delete Event</a>
		<a href="{{ request_href ~ 'admin_event_delete' ~ '&registrations_only=true' }}" class="delete add-new-h2">Delete Registrations</a>
	</h2>
{% endif %}

	{% if validation.did_validate %}{% if GET.added == 'true' %}{{ message('Event created.') }}{% else %}{{ message('Event updated.') }}{% endif %}{% elseif %}{{ validation.get_errors | raw }}{% endif %}

	<form action="{{ request_href ~ GET.request }}{% if GET.request == 'admin_event_add' %}&amp;noheader=true{% endif %}" method="post">
		{{ form.hidden('event_id') | raw }}

		<h3>Event Information</h3>

		<table class="form-table">
			{{ form_table_row('Name',                           form.text('name')) }}
			{{ form_table_row('Preregistration by Mail Ends',   form.text('date_mail_prereg_end')) }}
			{{ form_table_row('Preregistration by PayPal Ends', form.text('date_paypal_prereg_end')) }}
			{{ form_table_row('Refunds End',                    form.text('date_refund_end')) }}
		</table>

		<p class="submit"><input type="submit" class="button-primary" name="submit" value="{% if GET.request == 'admin_event_add' %}Add Event{% else %}Edit Event{% endif %}"></p>
	</form>
{% endblock content %}
