{% extends 'admin/_layout.html' %}

{% from 'admin/_layout.html' import form_table_row as form_table_row %}

{% block content %}
{% if GET.request == 'admin_event_add' %}
	<h2>Add New Event</h2>
{% else %}
	<h2>Edit Event
		<a href="{{ request_href ~ 'admin_event_delete' }}" class="delete add-new-h2">Delete Event</a>
		<a href="{{ request_href ~ 'admin_event_delete' ~ '&registrations_only=true' }}" class="delete add-new-h2">Delete Registrations</a>
	</h2>
{% endif %}

	{% if validation.did_validate and GET.added == 'true' %}{{ form.message('Event created.') | raw }}{% elseif validation.did_validate and GET.added != 'true' %}{{ form.message('Event updated.') | raw }}{% else %}{{ validation.get_errors | raw }}{% endif %}

	<form action="{{ request_href ~ GET.request }}{% if GET.request == 'admin_event_add' %}&amp;noheader=true{% endif %}" method="post">
		{{ form.input_hidden('event_id') | raw }}

		<h3>Event Information</h3>

		<table class="form-table">
			{{ form.row_text('Name',                           'name',                   null, {'class': 'regular-text'}) | raw }}
			{{ form.row_text('Preregistration by Mail Ends',   'date_mail_prereg_end',   null, {'class': 'regular-text'}) | raw }}
			{{ form.row_text('Preregistration by PayPal Ends', 'date_paypal_prereg_end', null, {'class': 'regular-text'}) | raw }}
			{{ form.row_text('Refunds End',                    'date_refund_end',        null, {'class': 'regular-text'}) | raw }}
		</table>

		<h3>Event Options</h3>

		<table class="form-table">
			{{ form.row_checkbox('Has VIPs?',       'has_vip',        {}, 'This event supports <a href="' ~ vip_href ~ '">VIP registrations</a>.') | raw }}
			{{ form.row_checkbox('Has Volunteers?', 'has_volunteers', {}, 'This event supports volunteer registrations.') | raw }}
		</table>

		<h3>Housing</h3>

		<table class="form-table">
			{{ form.row_radio('Housing Support',
				'has_housing',
				[{'label': 'No housing for this event.', 'value': 0, 'default': true},
				 {'label': 'Housing reports are enabled, but new housing registrations <strong>are not</strong> allowed.', 'value': 1},
				 {'label': 'Housing reports are enabled, and new housing registrations <strong>are</strong> allowed.', 'value': 2}]
				) | raw }}
			{{ form.row_text('Housing Nights', 'housing_nights', null, {'class': 'regular-text'}, 'Example: Friday,Saturday,Sunday') | raw }}
		</table>

{% if GET.request != 'admin_event_add' %}
		<h3>Levels</h3>

		<table class="form-table">
			{{ form.row_checkbox('Level Support', 'has_levels', {}, 'This event records levels for dancers.') | raw }}
			<tr valign="top">
				<th scope="row">Level 1</th>
				<td>
					{% do form.set_array_name('edit_levels') %}
					{{ form.input_text('1', event.levels_keyed_by_id[1], {'class': 'regular-text'}) | raw }}
					{% do form.set_array_name('edit_tryouts') %}
					{{ form.input_checkbox('1', {'checked': event.levels[1].has_tryouts}) | raw }} Has Tryouts
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Level 2</th>
				<td>
					{% do form.set_array_name('edit_levels') %}
					{{ form.input_text('2', event.levels_keyed_by_id[2], {'class': 'regular-text'}) | raw }}
					{% do form.set_array_name('edit_tryouts') %}
					{{ form.input_checkbox('2', {'checked': event.levels[2].has_tryouts}) | raw }} Has Tryouts
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Level 3</th>
				<td>
					{% do form.set_array_name('edit_levels') %}
					{{ form.input_text('3', event.levels_keyed_by_id[3], {'class': 'regular-text'}) | raw }}
					{% do form.set_array_name('edit_tryouts') %}
					{{ form.input_checkbox('3', {'checked': event.levels[3].has_tryouts}) | raw }} Has Tryouts
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Level 4</th>
				<td>
					{% do form.set_array_name('edit_levels') %}
					{{ form.input_text('4', event.levels_keyed_by_id[4], {'class': 'regular-text'}) | raw }}
					{% do form.set_array_name('edit_tryouts') %}
					{{ form.input_checkbox('4', {'checked': event.levels[4].has_tryouts}) | raw }} Has Tryouts
				</td>
			</tr>{% do form.set_array_name(null) %}
		</table>

		<h3>Discount Codes</h3>

		<p>Discount amounts: Negative number for amount off; Positive number (or zero) for fixed price.</p>

		<table class="form-table">
			<tr valign="top">
				<th scope="row"></th>
				<td>Code</td>
				<td>Amount</td>
				<td>Limit</td>
				<td>Expiration Date</td>
			</tr>

			<tr valign="top">
				<th scope="row">Discount 1</th>
				<td>
					{% do form.set_array_name('edit_discount_code') %}
					{{ form.input_text('1', event.discounts[1].discount_code) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_amount') %}
					{{ form.input_text('1', event.discounts[1].discount_amount) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_limit') %}
					{{ form.input_text('1', event.discounts[1].discount_limit) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_expires') %}
					{{ form.input_text('1', event.discounts[1].discount_expires ? event.discounts[1].discount_expires | date : 0) | raw }}
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Discount 2</th>
				<td>
					{% do form.set_array_name('edit_discount_code') %}
					{{ form.input_text('2', event.discounts[2].discount_code) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_amount') %}
					{{ form.input_text('2', event.discounts[2].discount_amount) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_limit') %}
					{{ form.input_text('2', event.discounts[2].discount_limit) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_expires') %}
					{{ form.input_text('2', event.discounts[2].discount_expires ? event.discounts[2].discount_expires | date : 0) | raw }}
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Discount 3</th>
				<td>
					{% do form.set_array_name('edit_discount_code') %}
					{{ form.input_text('3', event.discounts[3].discount_code) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_amount') %}
					{{ form.input_text('3', event.discounts[3].discount_amount) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_limit') %}
					{{ form.input_text('3', event.discounts[3].discount_limit) | raw }}
				</td>
				<td>
					{% do form.set_array_name('edit_discount_expires') %}
					{{ form.input_text('3', event.discounts[3].discount_expires ? event.discounts[3].discount_expires | date : 0) | raw }}
				</td>
			</tr>		
		</table>
{% endif %}

		<p class="submit"><input type="submit" class="button-primary" value="{% if GET.request == 'admin_event_add' %}Add Event{% else %}Edit Event{% endif %}"></p>
	</form>
{% endblock content %}
