{% extends 'admin/_layout.html' %}

{% block content %}
	<h2>Delete Event{% if GET.registrations_only == 'true' %} Registrations{% endif %}</h2>

	<form action="{{ request_href ~ 'admin_event_delete' ~ '&noheader=true' }}{% if GET.registrations_only == 'true' %}&amp;registrations_only=true{% endif %}" method="post">
		<p style="padding-top: 1.5em;">{{ form.input_checkbox('confirmed') | raw }} <strong>I'm sure I want to delete <em>all {{ GET.registrations_only == 'true' ? 'registrations' : 'information' }}</em> for {{ event.name }}.</strong></p>
		<p class="submit"><input type="submit" class="delete" value="{{ GET.registrations_only == 'true' ? 'Delete Registrations' : 'Delete Event' }}"></p>
	</form>
{% endblock content %}
