
<div id="nsevent-options" class="wrap">
	<div id="icon-options-general" class="icon32"><br></div>
	<h2>NSEvent Options</h2>

	<form method="post" action="options.php">
		{{ settings_fields('nsevent') }}{{ form.set_array_name('nsevent') }}

		<h3>Registration</h3>

		<table class="form-table">
			<tr valign="top">
				<th scope="row">Current Event</th>
				<td>
					{{ form.select('current_event_id', events, options.current_event_id, [], "\t\t\t\t\t") | raw }}
					<span class="description">The event currently used by the registration form.</span>
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Registration Testing</th>
				<td>
					<fieldset>
						<legend class="screen-reader-text"><span>Registration Testing</span></legend>
						<label>
							{{ form.checkbox('registration_testing', options.registration_testing) | raw }}
							Only "capable" users will be able to access the registration form.
						</label>
						<br>
					</fieldset>
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Postmark Within</th>
				<td>
					<span>Payments must be postmarked within {{ form.text('postmark_within', options.postmark_within, {'class': 'regulat-text', 'style': 'width: 3em'}) | raw }} days.</span>
				</td>
			</tr>
		</table>

		<h3>Pay by Mail</h3>

		<table class="form-table">
			<tr valign="top">
				<th scope="row">Payable To</th>
				<td>{{ form.text('payable_to', options.payable_to, {'class': 'regular-text'}) | raw }}</td>
			</tr>

			<tr valign="top">
				<th scope="row">Mailing Address</th>
				<td>
					<fieldset>
						<p>{{ form.textarea('mailing_address', options.mailing_address, {'cols': 50, 'rows': 4, 'class': 'large-text code'}) | raw }}</p>
					</fieldset>
				</td>
			</tr>
		</table>

		<h3>PayPal</h3>

		<table class="form-table">
			<tr valign="top">
				<th scope="row">PayPal Business Address</th>
				<td>
					{{ form.text('paypal_business', options.paypal_business, {'class': 'regular-text'}) | raw }}
					<span class="description">The email address used to receive payments via PayPal.</span>
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">PayPal Fee</th>
				<td>
					{{ form.text('paypal_fee', options.paypal_fee, {'class': 'regular-text'}) | raw }}
					<span class="description">The processing fee, if any, for payments made via PayPal.</span>
				</td>
			</tr>
		</table>

		<h3>Confirmation Email</h3>

		<table class="form-table">
			<tr valign="top">
				<th scope="row">Confirmation Email Address</th>
				<td>
					{{ form.text('confirmation_email_address', options.confirmation_email_address, {'class': 'regular-text'}) | raw }}
					<span class="description">This email address will appear on confirmation emails.</span>
				</td>
			</tr>

			<tr valign="top">
				<th scope="row">Confirmation Email Bcc</th>
				<td>
					{{ form.text('confirmation_email_bcc', options.confirmation_email_bcc, {'class': 'regular-text'}) | raw }}
					<span class="description">The email address will receive a copy of confirmation emails.</span>
				</td>
			</tr>
		</table>

		<p class="submit"><input type="submit" class="button-primary" value="Save Changes"></p>
	</form>
</div>
