
<div id="reg-sys" class="wrap">
	<h2>Registration Options</h2>
	{% if GET['settings-updated'] == 'true' %}{{ form.message('Options saved.') | raw }}{% endif %}

	<form method="post" action="options.php">
		{{ settings_fields('reg_sys') }}{{ form.set_array_name('reg_sys') }}

		<h3>Registration</h3>

		<table class="form-table">
			{{ form.row_select('Current Event',
				'current_event_id',
				events,
				{'default_option': option.current_event_id},
				'The event currently used by the registration form.'
				) | raw }}
			{{ form.row_checkbox('Registration Testing',
				'registration_testing',
				{'checked': options.registration_testing},
				' Only &quot;capable&quot; users will be able to access the registration form.'
				) | raw }}
			{{ form.row('Postmark Within',
				'<span>Payments must be postmarked within ' ~ form.input_text('postmark_within', options.postmark_within, {'class': 'regulat-text', 'style': 'width: 3em'}) | raw ~ ' days.</span>'
				) | raw }}
		</table>

		<h3>Pay by Mail</h3>

		<table class="form-table">
			{{ form.row_text('Payable To',
				'payable_to',
				options.payable_to,
				{'class': 'regular-text'}
				) | raw }}
			{{ form.row_textarea('Mailing Address',
				'mailing_address',
				options.mailing_address,
				{'class': 'regular-text'}
				) | raw }}
		</table>

		<h3>PayPal</h3>

		<table class="form-table">
			{{ form.row_text('PayPal Business Address',
				'paypal_business',
				options.paypal_business,
				{'class': 'regular-text'},
				'The email address used to receive payments via PayPal.'
				) | raw }}
			{{ form.row_text('PayPal Fee',
				'paypal_fee',
				options.paypal_fee,
				{'class': 'regular-text'},
				'The processing fee, if any, for payments made via PayPal.'
				) | raw }}
			{{ form.row_checkbox('PayPal Sandbox',
				'paypal_sandbox',
				{'checked': options.paypal_sandbox},
				' Use the PayPal <a href="https://developer.paypal.com/">Sandbox</a> (advanced testing only).'
				) | raw }}
			{{ form.row_text('PayPal Sandbox Address',
				'paypal_sandbox_email',
				options.paypal_sandbox_email,
				{'class': 'regular-text'},
				'The email address used for the PayPal Sandbox.'
				) | raw }}	
		</table>

		<h3>Confirmation Email</h3>

		<table class="form-table">
			{{ form.row_text('Email From',
				'email_from',
				options.email_from,
				{'class': 'regular-text'}
				) | raw }}
			{{ form.row_text('Email Reply-To',
				'email_reply_to',
				options.email_reply_to,
				{'class': 'regular-text'}
				) | raw }}
			{{ form.row_text('Email Bcc',
				'email_bcc',
				options.email_bcc,
				{'class': 'regular-text'}
				) | raw }}
			{{ form.row_radio('Transport Type',
				'email_transport',
				[{'label': '<span><abbr title="Simple Mail Transfer Protocol">SMTP</abbr></span>', 'checked': (options.email_transport == 'smtp'), 'value': 'smtp', 'default': true},
				 {'label': '<span title="PHP&#39;s internal mail function">Mail</span>',           'checked': (options.email_transport == 'mail'), 'value': 'mail'}],
				'Specify the <a href="http://swiftmailer.org/docs/sending.html#transport-types">transport type to be used by Swift Mailer</a>.'
				) | raw }}
			{{ form.row_text('SMTP Host',
				'email_smtp_host',
				options.email_smtp_host,
				{'class': 'regular-text'},
				'',
				['reg-sys-options-smtp']
				) | raw }}
			{{ form.row_text('SMTP Port',
				'email_smtp_port',
				options.email_smtp_port,
				{'class': 'regular-text'},
				'',
				['reg-sys-options-smtp']
				) | raw }}
			{{ form.row_text('SMTP Username',
				'email_smtp_username',
				options.email_smtp_username,
				{'class': 'regular-text'},
				'',
				['reg-sys-options-smtp']
				) | raw }}
			{{ form.row_text('SMTP Password',
				'email_smtp_password',
				options.email_smtp_password,
				{'type': 'password', 'class': 'regular-text'},
				'',
				['reg-sys-options-smtp']
				) | raw }}
			{{ form.row_radio('SMTP Encryption',
				'email_smtp_encryption',
				[{'label': '<span><abbr title="Secure Sockets Layer">SSL</abbr></span>',     'checked': (options.email_smtp_encryption == 'ssl'),  'value': 'ssl', 'default': true},
				 {'label': '<span><abbr title="Transport Layer Security">TSL</abbr></span>', 'checked': (options.email_smtp_encryption == 'tls'),  'value': 'tls'},
				 {'label': '<span>None</span>',                                              'checked': (options.email_smtp_encryption == 'none'), 'value': 'none'}],
				'',
				['reg-sys-options-smtp']
				) | raw }}
		</table>

		<p class="submit"><input type="submit" class="button-primary" value="Save Changes"></p>
	</form>
</div>
