@import url('admin-small.css') screen and (max-device-width: 480px);
@import url('admin-print.css') print;

.update-nag, #regsys .hidden { display: none; }

div#regsys-exception,
#regsys .regsys-validation-error td {
	/* Copied from WordPress div.error */
	background-color: #ffebe8;
	border: 1px solid #c00;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0 15px;
	padding: 0 0.6em;
	display: block;
}

#regsys ul {
	margin-top: 1em;
	list-style: disc inside;
}

#regsys .ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#regsys td.date {
	font-family: monospace;
}

#regsys form ul {
	list-style-type: none;
}

#regsys form label.radio {
	display: block;
}

#regsys form input[type="submit"] {
	margin-top: 2em;
}

#regsys table.report tr:hover td {
	background-color: #ff9;
}

#regsys table.report td.column-title {
	font-weight: bold;
}

#regsys table.report th.headerSortDown div {
	background: url('arrow-sort-down.png') right no-repeat;
}

#regsys table.report th.headerSortUp div {
	background: url('arrow-sort-up.png') right no-repeat;
}

#regsys a.delete {
	margin-left: 1em;
	font-size: 12px;
	font-weight: normal;
	color: #bc0b0b;
	background-color: inherit;
	text-decoration: underline;
}

#regsys input.delete {
	color: #fff;
	background: none;
	background-color: #bc0b0b;
	border-color: inherit;
	text-shadow: none;
}

#regsys a.button {
	margin-left: 0.5em;
}
