@import url('admin-small.css') screen and (max-device-width: 480px);
@import url('admin-print.css') print;

.update-nag { display: none; }

div.reg-sys-exception { margin: 2em 1em; }

#reg-sys ul {
	margin-top: 1em;
	list-style: disc inside;
}

#reg-sys .ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#reg-sys td.date {
	font-family: monospace;
}

#reg-sys form ul {
	list-style-type: none;
}

#reg-sys form label.radio {
	display: block;
}

#reg-sys form input[type="submit"] {
	margin-top: 2em;
}

#reg-sys table.report tr:hover td {
	background-color: #ff9;
}

#reg-sys table.report td.column-title {
	font-weight: bold;
}

#reg-sys table.report th.headerSortDown div {
	background: url('arrow-sort-down.png') right no-repeat;
}

#reg-sys table.report th.headerSortUp div {
	background: url('arrow-sort-up.png') right no-repeat;
}

#reg-sys a.delete {
	margin-left: 1em;
	font-size: 12px;
	font-weight: normal;
	color: #bc0b0b;
	background-color: inherit;
	text-decoration: underline;
}

#reg-sys input.delete {
	color: #fff;
	background: none;
	background-color: #bc0b0b;
	border-color: inherit;
	text-shadow: none;
}

#reg-sys a.button {
	margin-left: 0.5em;
}
