#regsys p {
margin: 1em;
}

#regsys div.field {
margin-top: 1em;
}

#regsys #submit input {
margin: 0 auto;
padding: 0.2em 0.5em;
background-color: #fff;
border: 1px solid #d9d9d9;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
cursor: pointer;
}

#regsys #submit input:hover {
background-color: #ff7;
}


#regsys-form .hidden {
display: none;
}

#regsys-form div.validation-error {
margin: 1.5em -0.5em 1em;
padding: 0.5em;
background-color: #fcc;
}

#regsys-form div.validation-error p {
	margin: 0 !important;
}

#regsys-form tr.validation-error td {
padding: 0.4em;
background-color: #fcc;
}

#regsys-form div#pricing-dates {
margin-top: 1em;
}

form fieldset, div#regsys div.price_table {
margin-bottom: 3em;
padding: 1em 1em;
background-color: #d6e7f1;
}

#regsys-form h2, div#regsys div.price_table h2 {
margin: 1.5em 0 0;
padding: 0.4em;
font-weight: bold;
font-size: 1.1em;
color: #fff;
background-color: #1c90c7;
}

#regsys-form fieldset h2 span {
font-size: 0.8em;
margin-left: 0.8em;
}

#regsys-form fieldset p {
margin: 1em 0 0 !important;
}

#regsys-form fieldset div:first-child {
margin-top: 0 !important;
}

#regsys-form div.text label {
display: block;
width: 8.5em;
float: left;
clear: left;
}

#regsys-form div.text input {
margin-top: -1px;
}

#regsys-form table, div#regsys table {
width: 100%;
}

#regsys-form thead th, div#regsys thead th {
font-size: 0.8em;
text-align: left;
background-color: #afd1e4;
}

#regsys-form tbody td {
padding: 0.5em 0;
border-top: 1px solid #b3b3b3;
}

#regsys-form td.not_early_bird {
text-decoration: line-through;
}

#regsys-form .still_early_bird #packages table th.price {
width: 11%;
}

#regsys-form .not_early_bird #packages table th.price {
width: 16%;
}

#regsys-form td.note input[type=text], #regsys-form textarea {
width: 100%;
}

#regsys-form td.note ul, #regsys-form td.note ul li {
margin: 0 !important;
padding: 0 !important;
list-style: inside circle;
}

#regsys-form fieldset#shirt table {
width: 95%;
}

#regsys-form fieldset#shirt select {
width: 100%;
}

#regsys-form div#shirt-description {
margin-top: 1.5em;
}

#regsys-form div#shirt-description img {
float: left;
clear: left;
margin-right: 1em;
}

#regsys-form div#shirt-description h3 {
margin-top: 1em;
font-weight: bold;
}

#regsys-form tr.no-openings {
	background-color: #d1d1d1;
}

#regsys-form-confirm table {
margin-top: 2em;
}

#regsys-form-confirm td.label {
width: 30%;
}

#regsys-form-confirm td.value {
width: 60%;
}

#regsys-form-confirm td.price {
width: 10%;
text-align: right;
}

#regsys-form-confirm #submit {
margin: 2em 0 1em;
}
