{% extends 'admin.html' %}

{% block content %}
	<h2 style="margin-bottom: 1em">Edit Registrations for {{ dancer.name }}</h2>

	{% if validation.did_validate %}{{ form.message('Registrations updated.') | raw }}{% endif %}

	<form action="{{ request_href ~ 'admin_dancer_registration_edit' ~ '&dancer_id=' ~ dancer.id }}" method="post" id="registration-edit">
		{{ form.input_hidden('position', dancer.postion) | raw }}{# Needed when item.meta == 'position' #}

{% for item in items %}
			{{ attribute(validation, 'get_error', ['item_' ~ item.id]) | raw }}
			<div style="margin-bottom: 1em">
				{% do form.set_array_name('items') %}{% if item.meta != 'size' %}{{ form.input_checkbox(item.id, {'checked': dancer.registered_items[item.id], 'disabled': dancer.registered_items[item.id] != null or not item.count_openings or item.is_expired}) | raw }} {% endif %}{{ item.name }}

{% 	if item.meta %}{% do form.set_array_name('item_meta') %}
{% 		if item.meta == 'position' %}
				<div {{ _self.meta_style }}>Register as: {{ form.input_radio(item.id, {'value': 'lead', 'checked': dancer.registered_items[item.id].registered_meta == 'lead', 'disabled': not attribute(item, 'count_openings', ['lead'])}) | raw }}&nbsp;Lead {{ form.input_radio(item.id, {'value': 'follow', 'checked': dancer.registered_items[item.id].registered_meta == 'follow', 'disabled': not attribute(item, 'count_openings', ['follow'])}) | raw }}&nbsp;Follow</div>
{% 		elseif item.meta == 'partner_name' %}
				<div {{ _self.meta_style }}>Partner: {{ form.input_text(item.id, {'value': dancer.registered_items[item.id] ? dancer.registered_items[item.id].registered_meta : null}) | raw }}</div>
{% 		elseif item.meta == 'team_members' %}
				<div {{ _self.meta_style }}>{{ item.description }}<br>{{ form.input_textarea(item.id) | raw }}</div>
{% 		elseif item.meta == 'size' %}
				<div {{ _self.meta_style }}>{% do form.set_array_name('items') %}
					{{ form.input_select(item.id, 'None,' ~ item.description, {'indent': "\t\t\t\t\t"}) | raw }}
				</div>
{% 		endif %}
{% 	endif %}
			</div>
{% endfor %}

			<p class="sumbit">
	    	<input type="submit" class="button-primary" value="Edit Registrations">
				<a style="margin-left: 2em" href="{{ request_href ~ 'report_dancer' ~ '&dancer_id=' ~ dancer.id  }}">Back to Dancer Report</a>
			</p>
    </form>
</div>
{% endblock %}

{% macro meta_style() %}style="margin-top: 0.5em; margin-bottom: 2em"{% endmacro %}
